
{% extends 'base.html' %}

{% block title %}User update{% endblock %}

{% block menu_links %}
    <li><a href="{% url "accounts:detail" user_obj.pk %}">Back</a></li>
    <li><a href="{% url "accounts:password_change" user_obj.pk %}">Change password</a></li>
{% endblock %}

{% block content %}
    <h1>Change personal data</h1>
    <form action="{% url 'accounts:change' user_obj.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'partial/form.html' with form=form fields_only=True %}
        {% include 'partial/form.html' with form=profile_form fields_only=True %}
        <br>
        <input type="submit" value="Submit">
    </form>
{% endblock %}