{% if is_paginated %}
    {% include 'partial/pagination.html' %}
{% endif %}

{% for project in projects %}
    <div class="box">
        <h3><a href="{% url "webapp:project_view" project.pk %}">{{ project.title }}</a></h3>
        <p>
            <label for="selected_projects-{{ project.pk }}">Select:</label>
            <input type="checkbox" name="selected_projects"
                   id="selected_projects-{{ project.pk }}" value="{{ project.pk }}">
        </p>
        <p>
            <a href="{% url 'accounts:detail' project.author_id %}">{{ project.author }}</a>
            | {{ project.created_at|date:"d.m.Y H:i:s" }}
        </p>
        {% if perms.webapp.change_project or project.author == request.user %}
            <p><a href="{% url 'webapp:project_update' project.pk %}">Update</a></p>
        {% endif %}
        {% if perms.webapp.delete_project or project.author == request.user %}
            <p><a href="{% url 'webapp:project_delete' project.pk %}">Delete</a></p>
        {% endif %}
    </div>
{% empty %}
    <h2 class="text-center">Projects not yet...</h2>
{% endfor %}

{% if is_paginated %}
     {% include 'partial/pagination.html' %}
{% endif %}