{% extends 'base.html' %}
{% block title %}{{ project.id }}{% endblock title %}
{% block content %}
    <h1>{{ project.title }}</h1>
    <h3>{{ project.description }}</h3>
    {% if perms.webapp.change_project or project.author == request.user %}
        <p><a href="{% url 'webapp:project_update' project.pk %}">Update</a></p>
    {% endif %}
    {% if perms.webapp.change_project or project.author == request.user %}
        <p><a href="{% url 'webapp:project_delete' project.pk %}">Delete</a></p>
    {% endif %}
    <h2>Project's Issues</h2>
    <div>
        {% for issue in issue.projects.all %}
            <div>
                <p>{{ issue.summary }}</p>
                <p><a href="{% url 'webapp:issue_view' issue.pk %}">More...</a></p>
                <p><a href="{% url 'webapp:update' issue.pk %}">Update</a></p>
                <p><a href="{% url 'webapp:delete' issue.pk %}">Delete</a></p>
            </div>
        {% empty %}
            <p>No issue yet.</p>
        {% endfor %}
    </div>
{% endblock %}